@font-face {
  font-family: "Formula 1";
  src: url("../public/fonts/Formula1-Regular-1.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  font-family: "Formula 1", sans-serif;
  /*font-family: 'Montserrat', sans-serif;*/
}

body {
  background: #42445a;
  height: 100vh;
  color: #fff;
  margin: 0;
  padding: clamp(1rem, 2vw, 3rem);
  font-size: 1.1rem;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 720px) {
  .container {
    max-width: 100%;
    padding: 0 1rem;
  }
}

.permanent-number {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  margin-right: 8px;
  border: 1px solid #333;
  border-radius: 50%;
  font-weight: bold;
  font-size: 14px;
  color: #333;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  background-color: #e10600;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  font-size: 1em;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
}

.nav li:hover {
  color: silver;
}

.nav li:active {
  color: #5b5b5b;
}

.img-responsive {
  margin: 0 auto;
  height: auto;
  width: auto;
  max-width: 80px;
  max-height: 80px;
}

.wrapper {
  max-width: 40rem;
  margin: 0 auto;
}

.wrapper ol {
  padding: 1.5rem 1.5rem 1.5rem;
  border: 0.2rem solid #fff;
  background: #fff;
  font-weight: bold;
  columns: 8rem;
  column-gap: 4rem;
  column-rule: 5px solid #ff1801;
  border-radius: 0.5rem;
  list-style: none;
}

.wrapper li span {
  display: flex;
  color: #000;
}

.wrapper li span:first-child {
  font-size: 1.5em;
  color: #ff1801;
}

.wrapper li span:last-child {
  color: #000;
}
.wrapper img {
  height: 100px;
  object-fit: contain;
  margin-left: 20px;
}

.home-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.time-card-container {
  grid-column: 1 / -1;
}

.upcoming-race-container-home {
  grid-column: 1 / -1;
}

.time-card-container {
  margin-top: 20px;
}

.time-card {
  background-color: #fff;
  border: 3px solid #ff0000;
  border-radius: 4px;
  padding: 20px;
}

.time-card-header {
  font-weight: bold;
  margin-bottom: 8px;
  color: #333333;
}

.time-card-content {
  color: #333333;
  font-size: 18px;
}

.constructor-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.constructor-card-container {
  position: relative;
  width: 400px;
  height: 100px;
  margin-top: 20px;
}

.constructor-card {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 4px solid #ccc;
  border-radius: 8px;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.constructor-card:hover {
  transform: scale(1.05) rotateY(180deg);
}

.constructor-card-front {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #333333;
  color: white;
}

.constructor-card-back {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #333333;
  color: white;
  transform: rotateY(180deg);
}

.constructor-card h3 {
  font-size: 1.2rem;
  padding: 10px;
}

.constructor-country {
  display: inline-block;
  background-color: #f2f2f2;
  color: #333;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 4px;
  border-radius: 4px;
}

.constructor-card-back ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.constructor-card-back li {
  margin-bottom: 10px;
  font-size: 1rem;
}

.constructor-card-back p {
  font-size: 1rem;
}

.constructor-mercedes {
  border: 4px solid #6cd3bf;
}

.constructor-ferrari {
  border: 4px solid #ed1c24;
}

.constructor-mclaren {
  border: 4px solid #f58020;
}

.constructor-red_bull {
  border: 4px solid #1e5bc6;
}

.constructor-aston_martin {
  border: 4px solid #2d826d;
}

.constructor-alphatauri {
  border: 4px solid #4e7c9b;
}

.constructor-alpine {
  border: 4px solid #2293d1;
}

.constructor-alfa {
  border: 4px solid #b12039;
}

.constructor-williams {
  border: 4px solid #37bedd;
}

.constructor-haas {
  border: 4px solid #b6babd;
}

.standings {
  border-radius: 8px;
}

.standings-table {
  background-color: #333333;
  border: 2px solid #5b5b5b;
  border-radius: 8px;
  border-collapse: separate;
  border-spacing: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.standings-table th {
  text-align: center;
  padding: 8px;
  background-color: #2d2d2d;
}

.standings-table td {
  text-align: center;
  padding: 8px;
  border: 1px solid #5b5b5b;
  font-size: 1rem;
  color: #eeeeee;
}

.position-column {
  width: 10%;
  text-align: center;
}

.race-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.race-card {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #2d2d2d;
  color: white;
  cursor: pointer;
  perspective: 800px;
  display: flex;
  border: 3px solid #ff1801;
  border-radius: 4px;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.race-card:hover {
  transform: rotateY(180deg);
}
.race-card-container {
  position: relative;
  width: 400px;
  height: 200px;
  margin-top: 20px;
}

.race-card-front {
  position: absolute;
  padding: 0.5em;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #333333;
  color: white;
}

.race-card-back {
  position: absolute;
  padding: 1em;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #333333;
  color: white;
  transform: rotateY(180deg);
}
.race-card-front h3,
.race-card-front p,
.race-card-back p {
  margin: 1em;
}

.circuitName {
  color: #5b5b5b;
  margin-left: 1em;
}

.upcoming-race-card {
  background-color: #2d2d2d;
  border: 3px solid #ff0000;
  padding: 20px;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
}

.upcoming-race-card-home {
  background-color: #2d2d2d;
  border: 3px solid #ff0000;
  padding: 20px;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.lastrace-results-card {
  background-color: #2d2d2d;
  border: 3px solid #ff0000;
  padding: 20px;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.text-container {
  display: flex;
  justify-content: space-between;
}

.upcoming-race-card:hover {
  border: 3px solid #ff0000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.race-card-front p,
.race-card-back p {
  color: #b2b2b2;
}

.left-text {
  order: 1;
}

.right-text {
  order: 2;
  color: #cccccc;
}

.race-round {
  display: inline-block;
  background-color: #f2f2f2;
  color: #333;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 4px;

  /* --------------------------------------------------------------------------------- */
  .table {
    display: table;
    width: 100%;
    border-collapse: collapse;
  }

  .table-row {
    display: table-row;
  }

  .table-cell {
    display: table-cell;
    padding: 8px;
    border: 1px solid #ccc;
  }

  .table-cell:first-child {
    font-weight: bold;
  }
}
