@font-face {
    font-family: "Formula 1";
    src: url("../public/fonts/Formula1-Regular-1.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: "Formula 1", sans-serif;
    margin: 0;
    padding: 0;
    /*font-family: 'Montserrat', sans-serif;*/
}

:root {
    --ferrari-color: #ed1c24;
    --mclaren-color: #f58020;
    --red-bull-color: #1e5bc6;
    --aston-martin-color: #2d826d;
    --alphatauri-color: #4e7c9b;
    --alpine-color: #2293d1;
    --alfa-color: #b12039;
    --williams-color: #37bedd;
    --haas-color: #b6babd;
    --mercedes-color: #6cd3bf;
}

body {
    background: #42445a;
    min-height: 100vh;
    color: #fff;
    margin: 0;
    padding: clamp(1rem, 2vw, 3rem);
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    flex: 1;
}

@media (max-width: 720px) {
    .container {
        max-width: 100%;
        padding: 0 1rem;
        flex: 1;
    }
}

.page-title {
    margin: 20px 20px;
}

.permanent-number {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    margin-right: 8px;
    border: 1px solid #333;
    border-radius: 50%;
    font-weight: bold;
    font-size: 14px;
    color: #333;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    max-width: 40rem;
    margin: 0 auto;
}

.wrapper ol {
    padding: 1.5rem 1.5rem 1.5rem;
    border: 0.2rem solid #fff;
    background: #fff;
    font-weight: bold;
    columns: 8rem;
    column-gap: 4rem;
    column-rule: 5px solid #ff1801;
    border-radius: 0.5rem;
    list-style: none;
}

.wrapper li span {
    display: flex;
    color: #000;
}

.wrapper li span:first-child {
    font-size: 1.5em;
    color: #ff1801;
}

.wrapper li span:last-child {
    color: #000;
}

.wrapper img {
    height: 100px;
    object-fit: contain;
    margin-left: 20px;
}

/* GRIDS */

.home-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.driver-card-grid {
    display: grid;
    grid-template-columns: repeat(3, 280px);
    justify-content: space-evenly;
    align-content: space-evenly;
    gap: 20px;
}

.constructor-grid {
    display: grid;
    grid-template-columns: repeat(1, 350px);
    gap: 20px;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.time-card-container {
    grid-column: 1 / -1;
}

.upcoming-race-container-home {
    grid-column: 1 / -1;
}

.time-card-container {
    margin-top: 20px;
}

.time-card {
    background-color: #e10600;
    border-radius: 4px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.time-card-left {
    margin-bottom: 8px;
    color: white;
    font-size: 25px;
}

.time-card-right {
    color: white;
    font-size: 25px;
}

@media (min-width: 900px) {
    .constructor-grid {
        display: grid;
        grid-template-columns: repeat(2, 350px);
        justify-content: space-evenly;
        align-content: space-evenly;
        gap: 20px;
    }

    .driver-card-grid {
        display: grid;
        grid-template-columns: repeat(4, 280px);
        justify-content: space-evenly;
        align-content: space-evenly;
        gap: 20px;
    }
}

.constructor-card-container {
    position: relative;
    width: 350px;
    height: 100px;
    margin-top: 20px;
}

.constructor-card {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    background: #333333;
    color: white;
    cursor: pointer;
}

.constructor-card-container.flipped .constructor-card {
    transform: scale(1.05) rotateY(180deg);
}

.constructor-card-front {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;

}

.constructor-card-back {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.constructor-card h3 {
    font-size: 1.2rem;
    padding: 10px;
}

.constructor-country {
    display: inline-block;
    background-color: #f2f2f2;
    color: #333;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 4px;
    border-radius: 4px;
}

.constructor-card-back ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.constructor-card-back li {
    margin-bottom: 10px;
    font-size: 1rem;
}

.constructor-card-back p {
    font-size: 1rem;
}


.constructor-mercedes {
    border: 1px solid var(--mercedes-color);
}

.constructor-ferrari {
    border: 1px solid var(--ferrari-color);
}

.constructor-mclaren {
    border: 1px solid var(--mclaren-color);
}

.constructor-red_bull {
    border: 1px solid var(--red-bull-color);
}

.constructor-aston_martin {
    border: 1px solid var(--aston-martin-color);
}

.constructor-alphatauri {
    border: 1px solid var(--alphatauri-color);
}

.constructor-alpine {
    border: 1px solid var(--alpine-color);
}

.constructor-alfa {
    border: 1px solid var(--alfa-color);
}

.constructor-williams {
    border: 1px solid var(--williams-color);
}

.constructor-haas {
    border: 1px solid var(--haas-color);
}

.table {
    background-color: #333333;
    border-collapse: collapse;
    border-radius: 8px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 2rem auto;
    width: 100%;
    max-width: 800px;
}


.table th {
    text-align: left;
    padding: 8px;
    font-size: 0.8rem;
}

.table td {
    padding: 8px;
    font-size: 0.8rem;
    color: #eeeeee;
}

.table tr:nth-child(even) {
    background-color: #2d2d2d;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}

.table tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}

.mercedes {
    color: var(--mercedes-color);
}

.ferrari {
    color: var(--ferrari-color);
}

.mclaren {
    color: var(--mclaren-color);
}

.red_bull {
    color: var(--red-bull-color);
}

.aston_martin {
    color: var(--aston-martin-color);
}

.alphatauri {
    color: var(--alphatauri-color);
}

.alpine {
    color: var(--alpine-color);
}

.alfa {
    color: var(--alfa-color);
}

.williams {
    color: var(--williams-color);
}

.haas {
    color: var(--haas-color);
}

.position-column {
    width: 10%;
    text-align: center;
}

.driver-column {
    text-align: left;
}

.race-grid {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); */
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.race-card {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #2d2d2d;
    color: white;
    cursor: pointer;
    perspective: 1000px;
    border: 1px solid #ff1801;
    border-radius: 8px;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.race-card-container.flipped .race-card {
    transform: rotateY(180deg);
}


.race-card-container {
    position: relative;
    width: 350px;
    height: 220px;
    margin-top: 20px;
    display: flex;
}

.race-card-front {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.race-card-front h3,
.race-card-front h4,
.race-card-front p {
    margin-left: 0.8rem;
    margin-top: 0.8rem;
}

.race-card-back {
    position: absolute;
    padding: 1em;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.race-card-back p {
    padding-top: 0.5em;
}

.race-card-back p {
    color: #b2b2b2;
}


.race-results-btn {
    width: 12ch;
    margin: 1em;
    padding: 0.1em;
    border-radius: 14px;
    cursor: pointer;
    font-size: 12px;
    background-color: #f2f2f2;
    color: #333;
    border: none;
}

.race-round {
    background-color: #f2f2f2;
    color: #333;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 4px;
    margin-left: 0.8rem;
    margin-top: 0.8rem;
}

.upcoming-race-card {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #ff0000;
    padding: 20px;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .upcoming-race-card:hover {
    border: 2px solid #ff0000;
}
 */
.top-text {
    color: #cccccc;
    padding-top: 0.5rem;
    padding-left: 0.5rem;

}

.child1-text {
    padding: 0.5rem;
}

.child2-text {
    color: #cccccc;
    font-size: 0.8em;
    padding: 0.5rem;
    text-align: end;
}

/* element will automatically adjust based on the length of the text content */
.race-weekend {
    background-color: grey;
    display: inline-block;
    padding: 0.1rem 0.5rem;
    border-radius: 10px;
    text-align: center;
    margin-top: 0.5rem;
}

.last-race-results-card {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #ff0000;
    padding: 20px;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.last-race-results-card p {
    padding-top: 10px;
    color: #cccccc;
}

.race-result-body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: flex-start;
    margin-top: 10px;
}

.race-result-table {
    margin: 0 auto;
}

.race-result-table th {
    text-align: center;
    font-size: 0.8em;
    color: #cccccc;
}

.race-result-table td {
    text-align: left;
    font-size: 0.8em;
    padding: 0.5em;
    color: #cccccc;
}

.last-race-result-table {
    border-collapse: collapse;
}

.last-race-result-table tr:nth-child(even) {
    background: rgba(0, 0, 0, 0.2);
}

.last-race-result-table th {
    text-align: left;
    font-size: 0.7em;
    padding: 0.3em;
    background: rgba(0, 0, 0, 0.2);

}

.last-race-result-table td {
    font-size: 0.8em;
    padding-top: 0.5em;
    color: #cccccc;
}

.xpto {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #ff0000;
    border-radius: 8px;
    grid-column: 2 / -1;
}

.driver-card {
    width: 280px;
    height: 350px;
    overflow: hidden;
    background: #2d2d2d;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}

.driver-card:hover {
    border: 2px solid #2d2d2d;

}

.img-container img {
    z-index: 1;
    width: 160px;
    height: 160px;
    position: relative;
    margin-top: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    background-color: #333333;
    transition-duration: 0.4s;
    transition-property: transform;
}

.img-container img:hover {
    transform: scale(1.1);
}

.card-content h3 {
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding: 10px;
}

.card-content p {
    font-size: 16px;
    text-align: center;
    padding: 5px;
}

.driver-number {
    font-size: 40px;
    font-weight: bold;
    padding-left: 1rem;
    padding-top: 1rem;
}

.no-info-container {
    width: 400px;
    height: 400px;
    border-radius: 12px;
    background-color: #2d2d2d;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    padding: 25px;
    z-index: 10000;
}

.select-dropdown-1 {
    width: 15rem;
    min-width: 10rem;
    color: #000
}

.select-dropdown-2 {
    width: 20rem;
    min-width: 10rem;
    color: #000
}

.select-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.5);
}

.select-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selects {
    display: flex;
}

.select-wrapper {
    margin-right: 20px;
}

.buttons-container {
    display: flex;
}

.buttons-container button {
    margin-left: 1em;
    height: 2em;
    min-width: 12em;
    background-color: #eeeeee;
    border: none;
    color: #2d2d2d;
    border-radius: 4px;
    cursor: pointer;
}

.buttons-container button:disabled {
    background-color: #dcdcdc;
    color: #a9a9a9;
    cursor: not-allowed;
}

.table-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.5);
}

.race-info {
    display: flex;
    justify-content: space-between;
}

.table-container h4 {
    padding-top: 0.4em;
}

.table-container h5 {
    padding-top: 0.4em;
    color: #cccccc;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e10600;
    color: white;
    font-size: 0.6em;
    padding: 1em;
    margin-top: 5rem;
    border-radius: 5px;
}

.footer a {
    text-decoration: none;
    color: white;
}