@font-face {
  font-family: "Formula 1";
  src: url("../public/fonts/Formula1-Regular-1.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  font-family: "Formula 1", sans-serif;
  /*font-family: 'Montserrat', sans-serif;*/
}

body {
  background: #42445a;
  height: 100vh;
  color: #fff;
  margin: 0;
  padding: clamp(1rem, 2vw, 3rem);
  font-size: 1.1rem;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 720px) {
  .container {
    max-width: 100%;
    padding: 0 1rem;
  }
}

.permanent-number {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  margin-right: 8px;
  border: 1px solid #333;
  border-radius: 50%;
  font-weight: bold;
  font-size: 14px;
  color: #333;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  background-color: #e10600;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  font-size: 20;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
}

.nav li:hover {
  color: silver;
}

.nav li:active {
  color: silver;
}

.img-responsive {
  margin: 0 auto;
  height: auto;
  width: auto;
  max-width: 80px;
  max-height: 80px;
}

.wrapper {
  max-width: 40rem;
  margin: 0 auto;
}

.wrapper ol {
  padding: 1.5rem 1.5rem 1.5rem;
  border: 0.2rem solid #fff;
  background: #fff;
  font-weight: bold;
  columns: 8rem;
  column-gap: 4rem;
  column-rule: 5px solid #ff1801;
  border-radius: 0.5rem;
  list-style: none;
}

.wrapper li span {
  display: flex;
  color: #000;
}

.wrapper li span:first-child {
  font-size: 1.5em;
  color: #ff1801;
}

.wrapper li span:last-child {
  color: #000;
}
.wrapper img {
  height: 100px;
  object-fit: contain;
  margin-left: 20px;
}

.constructor {
  max-width: 40rem;
  margin: 0 auto;
}

.constructor ul {
  padding: 1.5rem 1.5rem 1.5rem;
  border: 0.2rem solid #fff;
  font-weight: bold;
  columns: 8rem;
  column-gap: 3rem;
  column-rule: 2px solid #000;
  border-radius: 0.5rem;
  list-style: none;
}

.constructor li span {
  font-size: 1.5em;
  font-style: bold;
  display: flex;
  color: #000;
}

.constructor-mercedes {
  background-color: #6cd3bf;
  border-radius: 0.5rem;
}

.constructor-ferrari {
  border-radius: 0.5rem;
  background-color: #ed1c24;
}

.constructor-mclaren {
  background-color: #f58020;
  border-radius: 0.5rem;
}

.constructor-red_bull {
  background-color: #1e5bc6;
}

.constructor-aston_martin {
  background-color: #2d826d;
  border-radius: 0.5rem;
}

.constructor-alphatauri {
  background-color: #4e7c9b;
  border-radius: 0.5rem;
}

.constructor-alpine {
  background-color: #2293d1;
  border-radius: 0.5rem;
}

.constructor-alfa {
  background-color: #b12039;
  border-radius: 0.5rem;
}

.constructor-williams {
  background-color: #37bedd;
  border-radius: 0.5rem;
}

.constructor-haas {
  background-color: #b6babd;
  border-radius: 0.5rem;

  /* box-shadow: 0px 0px 0px 1px rgb(158, 158, 158) inset; */
}

.colour-team {
  padding: 0 !important;
  margin: 0 !important;
  width: 20px !important;
}

.standings-table {
  background-color: #eee;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

th {
  text-align: center;
  padding: 8px;
  background-color: #e10600;
}

td {
  text-align: center;
  padding: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  color: #000;
}

.position-column {
  width: 10%;
  text-align: center;
}

.race-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.race-card {
  position: relative;
  width: 400px;
  height: 200px;
  background-color: #333333;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  perspective: 1000px;
}

.race-card:hover .race-card-inner {
  transform: rotateY(180deg);
}

.race-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.race-card-front,
.race-card-back {
  position: absolute;
  padding: 20px;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  -webkit-backface-visibility: hidden;
}

.race-card-back {
  background-color: #333;
  color: white;
  transform: rotateY(180deg);
}

.race-card-front h3,
.race-card-front p,
.race-card-back p {
  margin: 0;
}

.circuitName {
  color: #cccccc;
}

.upcoming-race-card {
  background-color: #2d2d2d;
  border: 2px solid #ff0000;
  padding: 20px;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
}

.text-container {
  display: flex;
  justify-content: space-between;
}

.upcoming-race-card:hover {
  border: 3px solid #ff0000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.race-card-front p, .race-card-back p {
  color: #b2b2b2
}

.left-text {
  order: 1;
}

.right-text {
  order: 2;
  color: #cccccc;
  
}

.race-round {
  display: inline-block;
  background-color: #f2f2f2;
  color: #333;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 4px;
  margin-top: 8px;
  margin-right: 8px;
}